@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(espacoset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 500px;
    height: 500px;
}

.conteiner {
    width: 350px;
    height: 350px;

    display: flex;
    margin: auto;

    position: static;

    margin-top: 50px;
    padding: 50px;
    
}